@import url("https://db.onlinewebfonts.com/c/9190b99bc6c97006796d885cf0a226c4?family=Angeletta+W04+Regular");
@import "./assets/fonts/fonts.css";

@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
	--font-khula: "khula", sans-serif;
	--font-lora: "lora", serif;
	--font-PrimeCast: "PrimeCast", sans-serif;
}

@layer base {
	* {
		@apply font-khula;
	}
}

@layer components {
	/* .MyButton3 {
		view-transition-name: MyButton;
	} */
}